<div class="bg-dark text-light" style="height: 200px;">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h3>MOVIE BOOKING</h3>
        <div class="row">
          <div class="col-6">
            <a class="d-block text-light" href="#">FAQ</a>
            <a class="d-block text-light" href="#">Brand Guidelines</a>
          </div>
          <div class="col-6">
            <a class="d-block text-light" href="#">Thỏa thuận sử dụng</a>
            <a class="d-block text-light" href="#">Quy chế hoạt động</a>
            <a class="d-block text-light" href="#">Chính sách bảo mật</a>
            <a class="d-block text-light" href="#">Quyền lợi thành viên</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h3>ĐỐI TÁC</h3>
        <div class="row">
          <i>Logo</i>
          <i>Logo</i>
          <i>Logo</i>
          <i>Logo</i>
          <i>Logo</i>
        </div>
      </div>
      <div class="col-2">
        <h3>MOBILE APP</h3>
        <div class="row">
          <i>Logo</i>
          <i>Logo</i>
        </div>
      </div>
      <div class="col-2">
        <h3>SOCIAL</h3>
        <div class="row">
          <i>Logo</i>
          <i>Logo</i>
        </div>
      </div>
    </div>
    <br>
    <hr style="width: 100%; color: white;"/>
  </div>
</div>

